api/mock-soap-services/applicants/schemas/GrantsCommonTypes-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://apply.grants.gov/system/GrantsCommonTypes-V1.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--================-->
  <!--TYPE DEFINITIONS-->
  <!--================-->
  <!--Re-usable Type Definitions-->
  <!--Begin Release 15.3 New Definitions-->
  <xs:simpleType name="ActiveExclusionsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
      <xs:enumeration value="Not Available"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DelinquentFederalDebtType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
      <xs:enumeration value="Not Available"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExpandedApplicationFilterType">
    <xs:restriction base="xs:string">
      <!--see GrantsGovApplicationStatusType for a list of valid status values-->
      <xs:enumeration value="Status"/>
      <xs:enumeration value="FundingOpportunityNumber"/>
      <xs:enumeration value="CFDANumber"/>
      <xs:enumeration value="SubmissionTitle"/>
      <xs:enumeration value="GrantsGovTrackingNumber"/>
      <xs:enumeration value="OpportunityID"/>
      <xs:enumeration value="AgencyCode"/>
      <xs:enumeration value="CompetitionID"/>
      <xs:enumeration value="PackageID"/>
      <xs:enumeration value="SubmissionMethod"/>
    </xs:restriction>
  </xs:simpleType>
  <!--End Release 15.3 New Definitions-->
  <!--Begin Release 15.2 New Definitions-->
  <xs:simpleType name="Number18DigitsType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers
		- maxlength of 18-->
      <xs:pattern value="[0-9]{1,18}"/>
      <!--<xs:maxLength value="18" />-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number15DigitsType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers
		- maxlength of 15-->
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number8DigitsType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers
		- maxlength of 8-->
      <xs:pattern value="[0-9]{1,8}"/>
      <!--<xs:maxLength value="8" />-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number8DigitsOrUnboundedType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers/'unbound'
		- maxlength of 8-->
      <xs:pattern value="unbounded|[0-9]{1,8}"/>
      <!--<xs:maxLength value="8" />-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number4DigitsType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers
    		- maxlength of 4-->
      <xs:pattern value="[0-9]{1,4}"/>
      <!--<xs:maxLength value="4" />-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max30Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max102Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="102"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max100Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringWithoutNewLine250Type">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new line,
		- max length of 250-->
      <xs:pattern value="[^\s].{0,249}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringWithoutNewLine130Type">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new line,
		- max length of 130-->
      <xs:pattern value="[^\s].{0,129}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max2500Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2500"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max18000Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="18000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max4000Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max2000Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringWithoutNewLine512Type">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new line,
		- max length of 512-->
      <xs:pattern value="[^\s].{0,511}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YYYYDateType">
    <xs:restriction base="xs:string">
      <!--- Valid characters: Numbers
		- maxlength of 4-->
      <xs:pattern value="[0-9]*"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OperationStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Partial"/>
      <xs:enumeration value="Fail"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubmissionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF"/>
      <xs:enumeration value="Workspace"/>
      <xs:enumeration value="S2S"/>
      <xs:enumeration value="Third Party S2S"/>
    </xs:restriction>
  </xs:simpleType>
  <!--- Valid format: PKG########
       - numeric-->
  <xs:simpleType name="PackageIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="PKG[0-9]{8}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <!--End Release 15.2 New Definitions-->
  <!--MM/DD/YYYY-->
  <xs:simpleType name="MMDDYYYYFwdSlashType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](20)\d\d"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringWithoutNewLine255Type">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new line,
		- max length of 255-->
      <xs:pattern value="[^\s].{0,254}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max25Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max75Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="75"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max240Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="240"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringMin1Max255Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Begin Release 17.0 New Schema Definitions-->
  <xs:simpleType name="StringMin1Max250Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <!--End Release 17.0 New Schema Definitions-->
  <!--- Valid characters: spaces and non-whitespace characters 
	- Invalid: line feeds, tabs, carriage returns-->
  <xs:simpleType name="UserIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[ \S]+"/>
    </xs:restriction>
  </xs:simpleType>
  <!--- Valid characters: UPPERCASE letters, numeric, and hyphens
	  - maxlength of 40-->
  <xs:simpleType name="FundingOpportunityNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9\-]{1,40}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OpportunityCategoryType">
    <xs:annotation>
      <xs:documentation>D - DISCRETIONARY</xs:documentation>
      <xs:documentation>M - MANDATORY</xs:documentation>
      <xs:documentation>C - CONTINUATION</xs:documentation>
      <xs:documentation>E - EARMARK</xs:documentation>
      <xs:documentation>O - OTHER</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="D"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="E"/>
      <xs:enumeration value="O"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TemplateNameType">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new-line,
		- max length of 255-->
      <xs:pattern value="[^\s].{0,254}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FileNameType">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new-line,
		- max length of 255-->
      <xs:pattern value="[^\s].{0,254}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FileExtensionType">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new-line,
		- max length of 15-->
      <xs:pattern value="[^\s].{0,14}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FileContentIdType">
    <xs:restriction base="xs:string">
      <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
		- can be followed by any sequence of characters except new-line,
		- max length of 255-->
      <xs:pattern value="[^\s].{0,254}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <!--- Valid format: ##.###
        - numeric-->
  <xs:simpleType name="CFDANumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}[\.][0-9]{3}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <!--- Valid characters: UPPERCASE letters, numeric, and hyphens
        - maxlength of 40-->
  <xs:simpleType name="CompetitionIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9\-]{1,40}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <!--- CANNOT BEGIN with whitespace character (line feeds, tabs, spaces, carriage returns),
        - can be followed by any sequence of characters except new line,
        - max length of 255-->
  <xs:simpleType name="CompetitionTitleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\s].{0,254}"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GrantsGovTrackingNumberType">
    <xs:restriction base="xs:string">
      <!--Valid format: UPPERCASE GRANTxxxxxxxx where 'x' is numeric only (i.e. GRANT12345678 )-->
      <xs:pattern value="GRANT[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GrantsGovApplicationStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Receiving"/>
      <xs:enumeration value="Received"/>
      <xs:enumeration value="Processing"/>
      <xs:enumeration value="Validated"/>
      <xs:enumeration value="Rejected with Errors"/>
      <xs:enumeration value="Download Preparation"/>
      <xs:enumeration value="Received by Agency"/>
      <xs:enumeration value="Agency Tracking Number Assigned"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TokenIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DUNSType">
    <xs:restriction base="xs:string">
      <!--Begin Release 18.1 New Definitions-->
      <!--<xs:pattern value="[0-9A-Za-z]{9,13}" />-->
      <!--Accepts 9-digits DUNS OR 9-digits DUNS + 4-chars-->
      <xs:pattern value="([0-9]{9}|[0-9]{9}[a-zA-Z0-9]{4})"/>
      <!--End Release 18.1 New Definitions-->
    </xs:restriction>
  </xs:simpleType>
  <!--Begin Release 18.2 New Definitions-->
  <xs:simpleType name="UEIType">
    <xs:restriction base="xs:string">
      <!--Accepts 12-digits UEI-->
      <xs:pattern value="[a-zA-Z0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <!--End Release 18.2 New Definitions-->
  <xs:simpleType name="FullNameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="240"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AORStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUTHORIZED"/>
      <xs:enumeration value="UNAUTHORIZED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageTextType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AgencyContactInfoType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AgencyTrackingNumberType">
    <xs:restriction base="xs:string">
      <!--Valid characters: spaces and non-whitespace characters 
		Invalid: line feeds, tabs, carriage returns-->
      <xs:pattern value="[ \S]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AgencyNotesType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusDetailType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>