api/src/services/xml_generation/xsds/AttachmentForm_1_2-V1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:AttachmentForm_1_2="http://apply.grants.gov/forms/AttachmentForm_1_2-V1.2" targetNamespace="http://apply.grants.gov/forms/AttachmentForm_1_2-V1.2" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2">
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:element name="AttachmentForm_1_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ATT1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT1File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT2" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT2File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT3" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT3File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT4" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT4File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT5" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT5File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT6" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT6File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT7" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT7File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT8" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT8File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT9" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT9File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT10" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT10File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT11" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT11File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT12" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT12File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT13" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT13File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT14" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT14File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT15" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT15File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.2"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
