api/src/services/xml_generation/xsds/CD511-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision:   1.2  $ -->
<xs:schema xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CD511="http://apply.grants.gov/forms/CD511-V1.1" targetNamespace="http://apply.grants.gov/forms/CD511-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<!--Root element definition-->
	<xs:element name="CD511">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrganizationName" type="globLib:OrganizationNameDataType"/>
				<xs:element name="AwardNumber" type="globLib:ProjectAwardNumberDataType" minOccurs="0"/>
				<xs:element name="ProjectName" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ContactName" type="globLib:HumanNameDataType" minOccurs="0"/>
				<xs:element name="Title" type="globLib:HumanTitleDataType"/>
				<xs:element name="Signature" type="globLib:SignatureDataType"/>
				<xs:element name="SubmittedDate" type="xs:date"/>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
	<!--Custom types definitions-->
</xs:schema>
