api/src/services/xml_generation/xsds/GG_LobbyingForm-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision:   1.1  $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:GG_LobbyingForm="http://apply.grants.gov/forms/GG_LobbyingForm-V1.1" targetNamespace="http://apply.grants.gov/forms/GG_LobbyingForm-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="LobbyingForm">
		<xs:complexType> 
			<xs:sequence>
				<xs:element name="ApplicantName" type="globLib:OrganizationNameDataType"/>
				<xs:element name="AuthorizedRepresentativeName" type="globLib:HumanNameDataType"/>
				<xs:element name="AuthorizedRepresentativeTitle" type="globLib:HumanTitleDataType"/>
				<xs:element name="AuthorizedRepresentativeSignature" type="globLib:SignatureDataType"/>
				<xs:element name="SubmittedDate" type="xs:date"/>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
