api/src/services/xml_generation/xsds/Project_Abstract_1_2-V1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:Project_Abstract_1_2="http://apply.grants.gov/forms/Project_Abstract_1_2-V1.2" targetNamespace="http://apply.grants.gov/forms/Project_Abstract_1_2-V1.2" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="Project_Abstract_1_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProjectAbstractAddAttachment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachedFile" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.2"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
