api/src/services/xml_generation/xsds/SF424A-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--************************************************************************************************-->
<!-- TITLE:    SF424A                                                                                                     -->
<!-- DATE:     October 15, 2003                                                                                    -->
<!-- VERSION:  1.0                                                                                                        -->
<!--                                                                                                                                -->
<!-- COMMENTS: This schema conforms to OMB Standard Form 424A.OMB             -->
<!--                      Approval Number 0348-0044                                                            -->
<!--                                                                                                                                -->
<!-- REVISION HISTORY:                                                                                              -->
<!--                                                                                                                                -->
<!--************************************************************************************************-->
<xsd:schema targetNamespace="http://apply.grants.gov/forms/SF424A-V1.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:SF424A="http://apply.grants.gov/forms/SF424A-V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
    <!-- IMPORT GLOBAL SCHEMA -->
    <xsd:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="https://apply07.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
    <!-- ELEMENTS -->
    <!-- MAIN ELEMENT GROUP -->
    <xsd:element name="BudgetInformation" type="SF424A:BudgetInformationType"/>
    <!-- OTHER ELEMENTS -->
    <xsd:element name="BudgetApplicantContributionAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section C, "Applicant" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetCategories">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:CategorySet" minOccurs="0" maxOccurs="4"/>
                <xsd:element ref="SF424A:CategoryTotals" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetConstructionRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Construction</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetContractualRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Contractual</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetEquipmentRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Equipment</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFederalEstimatedUnobligatedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "Estimated Unobligated Funds" columns, "Federal" column, all "Object Class 			     Categories" rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFederalForecastedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section D, "Federal" row, all columns</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFederalNewOrRevisedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "New or Revised Budget" columns, "Federal" column, 	          all "Object Class Categories" rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFirstQuarterAmounts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ForecastedAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetFirstYearAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section E, "First" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFirstYearAmounts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ForecastedAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetForecastedCashNeeds">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:BudgetFirstYearAmounts" minOccurs="0"/>
                <xsd:element ref="SF424A:BudgetFirstQuarterAmounts" minOccurs="0"/>
                <xsd:element ref="SF424A:BudgetSecondQuarterAmounts" minOccurs="0"/>
                <xsd:element ref="SF424A:BudgetThirdQuarterAmounts" minOccurs="0"/>
                <xsd:element ref="SF424A:BudgetFourthQuarterAmounts" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetFourthQuarterAmounts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ForecastedAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetFourthYearAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section E, "Fourth" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetFringeBenefitsRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Fringe Benefits</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetIndirectChargesAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Indirect Charges</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetNonFederalEstimatedUnobligatedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "Estimated Unobligated Funds" columns, "Non-Federal" column, all "Object Class 	     Categories" rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetNonFederalForecastedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section D, "Non-Federal" row, all columns</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetNonFederalNewOrRevisedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "New or Revised Budget" columns, "Non-Federal" column, all "Object Class 	     Categories" rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetOtherContributionAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section C, "Other Sources" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetOtherRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Other</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetPersonnelRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Personnel</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetSecondQuarterAmounts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ForecastedAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetSecondYearAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section E, "Second" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetStateContributionAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section C, "State" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetSummary">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:SummaryLineItem" minOccurs="0" maxOccurs="4"/>
                <xsd:element ref="SF424A:SummaryTotals" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetSuppliesRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Supplies</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetThirdYearAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section E, "Third" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetThirdQuarterAmounts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ForecastedAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BudgetTotalAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Total Amount</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetTotalContributionAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section C, "Totals" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetTotalDirectChargesAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Total Direct Charges</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetTotalForecastedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section D, "Total" row, all columns</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetTotalNewOrRevisedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "New or Revised Budget" columns, "Total" column, all "Object Class Categories" 	     rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="BudgetTravelRequestedAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Travel</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="CategorySet">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:BudgetCategoryAmountGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute ref="SF424A:activityTitle" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryTotals">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:BudgetCategoryAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CFDANumber" type="glob:StringMin1Max15Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "Catalog of Federal Domestic Assistance" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="FederalFundsNeeded">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:FundsLineItem" minOccurs="0" maxOccurs="4"/>
                <xsd:element ref="SF424A:FundsTotals" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FundsLineItem">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:BudgetFundsAmountGroup"/>
            </xsd:sequence>
            <xsd:attribute ref="SF424A:activityTitle" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FundsTotals">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:BudgetFundsAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NonFederalResources">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:ResourceLineItem" minOccurs="0" maxOccurs="4"/>
                <xsd:element ref="SF424A:ResourceTotals" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OtherDirectChargesExplanation" type="glob:StringMin1Max50Type"/>
    <xsd:annotation>
        <xsd:documentation>Section F, Direct Charges</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="OtherIndirectChargesExplanation" type="glob:StringMin1Max50Type"/>
    <xsd:annotation>
        <xsd:documentation>Section F, Indirect Charges</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="OtherInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:OtherDirectChargesExplanation" minOccurs="0"/>
                <xsd:element ref="SF424A:OtherIndirectChargesExplanation" minOccurs="0"/>
                <xsd:element ref="SF424A:Remarks" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProgramIncomeAmount" type="glob:DecimalMin1Max14Places2Type"/>
    <xsd:annotation>
        <xsd:documentation>Section B, Program Income</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="Remarks" type="glob:StringMin1Max250Type"/>
    <xsd:annotation>
        <xsd:documentation>Section F, Remarks</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="ResourceLineItem">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ResourceAmountGroup"/>
            </xsd:sequence>
            <xsd:attribute ref="SF424A:activityTitle" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourceTotals">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:ResourceAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SummaryLineItem">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SF424A:CFDANumber" minOccurs="0"/>
                <xsd:group ref="SF424A:BudgetAmountGroup"/>
            </xsd:sequence>
            <xsd:attribute ref="SF424A:activityTitle" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SummaryTotals">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="SF424A:BudgetAmountGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- DATATYPES -->
    <!-- COMPLEX DATATYPES -->
    <xsd:complexType name="BudgetInformationType">
        <xsd:sequence>
            <xsd:element ref="glob:FormVersionIdentifier"/>
            <xsd:element ref="SF424A:BudgetSummary" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetCategories" minOccurs="0"/>
            <xsd:element ref="SF424A:NonFederalResources" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetForecastedCashNeeds" minOccurs="0"/>
            <xsd:element ref="SF424A:FederalFundsNeeded" minOccurs="0"/>
            <xsd:element ref="SF424A:OtherInformation" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="SF424A:programType" use="required"/>
        <xsd:attribute ref="glob:coreSchemaVersion" use="required" fixed="1.0"/>
        <!-- WE DECLARE A NAMED COMPLEX TYPE HERE INSTEAD OF USING AN ANONYMOUS COMPLEX TYPE
	     BECAUSE IN AGENCY SF424A SCHEMAS, WE NEED TO EXTEND THIS CONTENT MODEL TO INCLUDE 
	     ADDITIONAL ELEMENTS. -->
    </xsd:complexType>
    <!-- ATTRIBUTES -->
    <xsd:attribute name="activityTitle" type="glob:StringMin1Max120Type"/>
    <xsd:annotation>
        <xsd:documentation>Section A, "Grant Program Function or Activity" column, all rows</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="programType" type="xsd:string" fixed="Non-Construction"/>
    <xsd:annotation>
        <xsd:documentation>Denotes Non-Construction</xsd:documentation>
    </xsd:annotation>
    <!-- MODEL GROUPS -->
    <!-- HERE WE DEFINE MODEL GROUPS FOR ELEMENTS THAT APPEAR IN MULTIPLE PLACES IN THE SCHEMA. THIS   
         ALLOWS US TO DEFINE THESE ELEMENTS IN ONE PLACE, AND REFER TO THEM MULTIPLE TIMES BY GROUP NAME. -->
    <xsd:group name="BudgetAmountGroup">
        <xsd:sequence>
            <xsd:element ref="SF424A:BudgetFederalEstimatedUnobligatedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetNonFederalEstimatedUnobligatedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetFederalNewOrRevisedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetNonFederalNewOrRevisedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTotalNewOrRevisedAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="BudgetCategoryAmountGroup">
        <xsd:sequence>
            <xsd:element ref="SF424A:BudgetPersonnelRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetFringeBenefitsRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTravelRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetEquipmentRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetSuppliesRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetContractualRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetConstructionRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetOtherRequestedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTotalDirectChargesAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetIndirectChargesAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTotalAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:ProgramIncomeAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="BudgetFundsAmountGroup">
        <xsd:sequence>
            <xsd:element ref="SF424A:BudgetFirstYearAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetSecondYearAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetThirdYearAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetFourthYearAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="ForecastedAmountGroup">
        <xsd:sequence>
            <xsd:element ref="SF424A:BudgetFederalForecastedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetNonFederalForecastedAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTotalForecastedAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="ResourceAmountGroup">
        <xsd:sequence>
            <xsd:element ref="SF424A:BudgetApplicantContributionAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetStateContributionAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetOtherContributionAmount" minOccurs="0"/>
            <xsd:element ref="SF424A:BudgetTotalContributionAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>
